.parent {
    max-width: 300px;
    min-width: 300px;

    .img {
        position: relative;
        // width: 100%;    

        img {
            width: 100%;
            height: 300px;
        }

        .act {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.3s ease;
            /* Thêm transition để hiệu ứng mượt hơn */
            padding: 26px 0;
        }

        /* Khi di chuột vào .img thì .act sẽ xuất hiện */
        &:hover .act {
            opacity: 1;
        }
    }

    .info {
        .title {
            font-weight: 500;
            font-size: 18px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            /* Hiển thị dấu ba chấm nếu nội dung vượt quá */
        }

        .prices {

            .sale {
                font-weight: 500;
                font-size: 16px;
            }

            .origin {
                text-decoration: line-through;
                color: #6c6c6c;
            }
        }
    }
}